@import './variables.scss';

.default {
  height: 60px;
  width: 130px;
  color: $white;
  font-weight: 600;
  background-color: $grey-400;

  &:hover {
    background-color: $color-primary;
  }
}

.medium {
  height: 40px;
  width: 130px;
  color: $white;
  font-weight: 600;
  background-color: $grey-400;

  &:hover {
    background-color: $color-primary;
  }
}

.full {
  height: 40px;
  width: 100%;
  color: $white;
  font-weight: 600;
  background-color: $grey-400;

  &:hover {
    background-color: $color-primary;
  }
}