@import './variables.scss';

.default {
  height: 60px;
  width: 130px;
  color: $white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background-color: $color-primary;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
  }
}

.medium {
  height: 40px;
  width: 130px;
  color: $white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background-color: $color-primary;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
  }
}

.full {
  height: 40px;
  width: 100%;
  color: $white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background-color: $color-primary;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
  }
}