@import './variables.scss';

.input {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  color: $grey-300;

  &::placeholder {
    color: $grey-300;
    // color: red;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;

    &:focus {
      // color: $grey-300;
      // color: red;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1rem;
      font-style: normal;
      line-height: normal;
      outline-color: $grey-600;
      border: 2px solid $grey-600;
    }
  }
}