$black: #000000;
$white: #FFFFFF;
$grey-0: #F5F5F5;
$grey-100: #EEEEEE;
$grey-200: #E0E0E0;
$grey-300: #828282;
$grey-400: #BDBDBD;
$grey-600: #333333;
$color-primary: #27AE60;
$color-secondary: #2DBC69;
$quantity-primary: #EEEEEE;
$quantity-secondary: #E4E4E4;
$negative: #E60000;
$warning: #FFCD07;
$sucess: #168821;
$information: #155BCB;
$font-primary: 'Inter', sans-serif;